version: '3'

services:
  acapy-agent:
    build:
      context: https://github.com/sktston/aries-cloudagent-python.git#develop
      dockerfile: ./docker/Dockerfile.run-wait
    ports:
      - 8020-8021:8020-8021
    networks:
      - acapy
    extra_hosts:
      - "localhost:host-gateway"
    entrypoint: ["aca-py",
                 "start",
                 "--admin", "0.0.0.0", "8021",
                 "--admin-insecure-mode",
                 "--endpoint", "http://localhost:8020",
                 "--tails-server-base-url", "http://221.168.33.78:6543",
                 "--genesis-url", "http://221.168.33.78:9000/genesis",
                 "--inbound-transport", "http", "0.0.0.0", "8020",
                 "--outbound-transport", "http",
                 "--label", "base.agent",
                 "--wallet-local-did",
                 "--wallet-type", "indy",
                 "--wallet-name", "base",
                 "--wallet-key", "base.key",
                 "--auto-accept-invites",
                 "--auto-accept-requests",
                 "--auto-ping-connection",
                 "--auto-respond-credential-request",
                 "--auto-store-credential",
                 "--auto-verify-presentation",
                 "--preserve-exchange-records",
                 "--log-level", "info",
                 "--trace",
                 "--trace-target", "log",
                 "--trace-tag", "agent.events",
                 "--trace-label", "agent.trace",
                 "--multitenant",
                 "--multitenant-admin",
                 "--jwt-secret", "secret",
                 "--auto-provision",
                 "--invite-base-url", "https://invite-base-url",
                 "--public-invites" ]

networks:
  acapy: