version: '3'

services:
  acapy-agent-postgres:
    build:
      context: https://github.com/sktston/aries-cloudagent-python.git#develop
      dockerfile: ./docker/Dockerfile.run-wait
    ports:
      - 8020-8021:8020-8021
    networks:
      - acapy
    extra_hosts:
      - "localhost:host-gateway"
    depends_on:
      - postgres
    entrypoint: ["./wait-for-it.sh", "postgres:5432", "--", "aca-py",
                 "start",
                 "--admin", "0.0.0.0", "8021",
                 "--admin-insecure-mode",
                 "--endpoint", "http://localhost:8020",
                 "--tails-server-base-url", "http://221.168.33.78:6543",
                 "--genesis-url", "http://221.168.33.78:9000/genesis",
                 "--inbound-transport", "http", "0.0.0.0", "8020",
                 "--outbound-transport", "http",
                 "--label", "base.agent",
                 "--public-invites",
                 "--wallet-local-did",
                 "--wallet-type", "indy",
                 "--wallet-name", "base",
                 "--wallet-key", "base.key",
                 "--wallet-storage-type", "postgres_storage",
                 "--wallet-storage-config", "{\"url\":\"postgres:5432\",\"wallet_scheme\":\"MultiWalletSingleTableSharedPool\"}",
                 "--wallet-storage-creds", "{\"account\":\"postgres\",\"password\":\"mysecretpassword\",\"admin_account\":\"postgres\",\"admin_password\":\"mysecretpassword\"}",
                 "--auto-accept-invites",
                 "--auto-accept-requests",
                 "--auto-ping-connection",
                 "--auto-respond-credential-request",
                 "--auto-store-credential",
                 "--auto-verify-presentation",
                 "--preserve-exchange-records",
                 "--log-level", "info",
                 "--trace",
                 "--trace-target", "log",
                 "--trace-tag", "agent.events",
                 "--trace-label", "agent.trace",
                 "--multitenant",
                 "--multitenant-admin",
                 "--jwt-secret", "secret",
                 "--auto-provision",
                 "--invite-base-url", "https://invite-base-url",
                 "--public-invites"]

  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
    ports:
      - '5432:5432'
    networks:
      - acapy

networks:
  acapy: